@import "@bootstrap/bootstrap";

$primary-color: #3498db;

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.button {
  padding: 10px 20px;
  background-color: $primary-color;
  color: white;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

// Add spacing between the input field and the button
#todo-input {
  margin-bottom: 10px; // Adjust the value as needed
}

.card {
  margin-top: 20px; // Adds space above the card
}

